* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ibarra Real Nova', monospace, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

$main-color: #ffd703;
$primary-color: #fff;
$default-color: #000;

$border: 1px solid rgba(255, 255, 255, 0.3);
$background: rgba(255, 255, 255, 0.2);
$box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
	rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
	rgba(0, 0, 0, 0.09) 0px 32px 16px;
$backdrop-filter: blur(5px);

$clr-primary: #18ffff;
$clr-primary-light: #adffff;
$clr-primary-dark: #091034;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-bg: #060b23;
$radius: 1rem;

@mixin setBackground() {
	background-color: #293454;
	width: 100%;
	height: 100%;
	position: fixed;
	overflow-y: auto;
	overflow-x: hidden;
}

@mixin setLeftMargin() {
	margin-left: 100px;
	padding: 20px;
	padding-top: 70px;
}

@mixin setGlass() {
	// max-width: 100%;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	background: rgba(255, 255, 255, 0.2);
	box-shadow: $box-shadow;
	backdrop-filter: blur(5px);
	color: white;
	padding: 10px;
	transition: all 300ms ease;
	&:hover {
		box-shadow: none;
	}
}

@mixin setLink() {
	background-color: #4e3f66;
	border-radius: 8px;
	border-width: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	list-style: none;
	margin: 0;
	padding: 10px 12px;
	text-align: center;
	transition: all 200ms;
	vertical-align: baseline;
	white-space: nowrap;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}
@mixin setButton() {
	border: none;
	outline: none;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: $box-shadow;
	color: white;
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.2);
	&:hover {
		background: rgba(255, 255, 255, 0.461);
	}
}
