@import url('https://fonts.googleapis.com/css2?family=Ibarra Real Nova&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ibarra Real Nova',monospace,Arial, Helvetica, sans-serif;
    text-decoration: none;
}
body{
    overflow-x: hidden;
    font-size: 17px;
    line-height: 1.4705882353;
    font-weight: 400;
    letter-spacing: -0.022em;
    background-color: #fff;
    color: #1d1d1f;
    font-style: normal;
}